<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="xpenses-date_depense-<%%VALUE(id)%%>" class=""><%%VALUE(date_depense)%%></td>
		<td id="xpenses-montant-<%%VALUE(id)%%>" class=""><%%VALUE(montant)%%></td>
		<td id="xpenses-produit-<%%VALUE(id)%%>" class=""><%%VALUE(produit)%%></td>
		<td id="xpenses-type_payment-<%%VALUE(id)%%>" class=""><%%VALUE(type_payment)%%></td>
		<td id="xpenses-compte-<%%VALUE(id)%%>" class=""><%%VALUE(compte)%%></td>
		<td id="xpenses-categorie_produit-<%%VALUE(id)%%>" class=""><%%VALUE(categorie_produit)%%></td>
		<td id="xpenses-partenaire-<%%VALUE(id)%%>" class=""><%%VALUE(partenaire)%%></td>
		<td id="xpenses-contrib_partenaire-<%%VALUE(id)%%>" class=""><%%VALUE(contrib_partenaire)%%></td>
		<td id="xpenses-lieu_achat-<%%VALUE(id)%%>" class=""><%%VALUE(lieu_achat)%%></td>
		<td id="xpenses-raison-<%%VALUE(id)%%>" class=""><%%VALUE(raison)%%></td>

		<td id="xpenses-imprevu-<%%VALUE(id)%%>" class=""><%%VALUE(imprevu)%%></td>
		<td id="xpenses-recurrent-<%%VALUE(id)%%>" class=""><%%VALUE(recurrent)%%></td>
		<td id="xpenses-description-<%%VALUE(id)%%>" class=""><%%VALUE(description)%%></td>
		<td id="xpenses-photo-<%%VALUE(id)%%>" class=""><a href="<%%TRANSLATION(ImageFolder)%%><%%VALUE(photo)%%>" rel="lightbox"><img src="thumbnail.php?i=<%%VALUE(photo)%%>&t=xpenses&f=photo&v=tv" class="img-thumbnail"></a></td>

